<!DOCTYPE html>
<html lang="en">
<html>
  <%- include("templates/head.ejs"); %>
  <%- include("templates/header.ejs"); %>
  <body>
    <div class="grid-container">
      <%- include("templates/nav.ejs"); %>
      <main>
        <div class="container">
            <img class="blurimage" src="angled-bays.jpg" alt="bays" style="width:100%;">
            <div class="centered">Welcome to Car Park Finder</div>
          </div>
      </div>
    </main>
    </div>
  </body>
</html>