<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Car Park Finder</title>
    <link rel="stylesheet"   
     href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
     <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <style>
        .grid-container {
  display: grid;
  grid-template-areas:
    'ph ph ph ph ph'
    'ln cn cn cn cn'
    'pf pf pf pf pf';
}

#page-header {
  grid-area: ph;
  padding:20px 10px;
  text-align:Center;
  text-decoration: underline;
}

#local-navigation {
  grid-area: ln;
}

#contextual-navigation {
  grid-area: cn;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300%;
  font-family: "Times New Roman", Times, serif;
  color: rgb(12, 11, 11);
}

.blurimage {
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
}


.heading { font-family:sans-serif; font-size:x-large; }  
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div id="page-header">
        <span class="heading">Car Park Finder</span>
      </div>
      <div id=local-navigation>
        <button onclick = "location.href = 'map.html?type=Bristol%20Car%20Park%20Map';" class="w3-btn w3-blue w3-block w3-border w3-border-white">Bristol Cap Park Map</button>
        <button onclick = "location.href = 'type.html?type=Find%20type'" class="w3-btn w3-blue w3-block w3-border w3-border-white">Find type</button>
        <button onclick = "location.href = 'location.html?type=Find%20by%20location'" class="w3-btn w3-blue w3-block w3-border w3-border-white">Find by location</button>
    </div>

      <div id="contextual-navigation">
        <div class="container">
            <img class="blurimage" src="angled-bays.jpg" alt="bays" style="width:100%;">
            <div class="centered">Welcome to Car Park Finder</div>
          </div>
      </div>
    </div>
  </body>
</html>