<!DOCTYPE html>
<!--EJS Template to display the 1 nearest paid car parks as a table - UC3 -->
<html>
  <head>
    <title>Car Park Finder</title>
    <link rel="stylesheet"   
     href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
     <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <!--Link to CSS stylesheet-->
    <link rel="stylesheet" href="/style.CSS">
    <script>
      function myFunction() {
        var x = document.getElementById("Demo");
        if (x.className.indexOf("w3-show") == -1) { 
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
        // Request user geolocation and callback with lat, lon
        function getLocation(fun) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (loc) {
                    fun(loc.coords.latitude, loc.coords.longitude);
                })
            }
            else {
                alert("Geolocation is not supported by this browser.");
                // location defaults to central Bristol
                fun(51.454514, -2.587910);
            }
        }
  
        // Load page with lat, lon query string
        function nearest(lat, lon) {
            location.href = "nearestpaid.html?lat=" + lat + "&lon=" + lon;
        }
        function nearer(lat, lon) {
            location.href = "nearerpaid.html?lat=" + lat + "&lon=" + lon;
        }
        function near(lat, lon) {
            location.href = "nearpaid.html?lat=" + lat + "&lon=" + lon;
        }
    </script>
  </head>
  <body>
    <div class="grid-container">
      <div id="page-header">
        <span class="heading">Car Park Finder</span>
      </div>
      <div id=local-navigation>
        <button onclick = "location.href = 'map.html?type=Bristol%20Car%20Park%20Map';" class="w3-btn w3-blue w3-block w3-border w3-border-white">Bristol Cap Park Map</button>
        <button onclick = "location.href = 'type.html?Type=Free'" class="w3-btn w3-blue w3-block w3-border w3-border-white">Find type</button>
        <button onclick = "location.href = 'location.html?type=Find%20by%20location'" class="w3-btn w3-blue w3-block w3-border w3-border-white">Find by location</button>
      </div>

      <div id="contextual-navigation">
        <div class ="w3-bar w3-ripple">
          <div class="w3-dropdown-click">
            <button onclick="myFunction()" class="w3-button w3-blue w3-border w3-border-white">Find Nearest</button>
            <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
              <a onclick="getLocation(nearest)" type="submit" class="w3-bar-item w3-button">1 Nearest</a>
              <a onclick="getLocation(nearer)" type="submit" class="w3-bar-item w3-button">3 Nearest</a>
              <a onclick="getLocation(near)" type="submit" class="w3-bar-item w3-button">5 Nearest</a>
            </div>
          </div>
        </div>

            <table class="w3-table w3-striped w3-border"><body> 
              <tr> <class="w3-green"><th>Name</th> <th>Car Park Type</th> <th>Area name<th></th></tr>
                 <% for (var i=0; i<rows.length; i++) { %>
                  <tr>
                    <td><%=rows[i]["Car park name"]%></td>
                     <td><%=rows[i]["Type of car park"]%></td>
                     <td><%=rows[i]["Area name"]%></td>
                  </tr>
           <% } %>
      </div>
    </div>
  </body>
</html>