<!DOCTYPE html>
<!--EJS Template to display all the car parks as a table and allow user to filter results, representing the oprions of Free and Paid car parks - UC3 -->
<html>
  <head>
    <title>Car Park Finder</title>
    <link rel="stylesheet"   
     href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
     <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <!--Link to CSS stylesheet-->
    <link rel="stylesheet" href="/style.CSS">
  </head>
  <body>
    <div class="grid-container">
      <div id="page-header">
        <span class="heading">Car Park Finder</span>
      </div>
      <div id=local-navigation>
        <button onclick = "location.href = 'map.html?type=Bristol%20Car%20Park%20Map';" class="w3-btn w3-blue w3-block w3-border w3-border-white">Bristol Cap Park Map</button>
        <button onclick = "location.href = 'type.html?Type=Free'" class="w3-btn w3-blue w3-block w3-border w3-border-white">Find type</button>
        <button onclick = "location.href = 'location.html?type=Find%20by%20location'" class="w3-btn w3-blue w3-block w3-border w3-border-white">Find by location</button>
    </div>

      <div id="contextual-navigation">
        <div class ="w3-bar w3-ripple bar">
        <!--Clickable buttons to display either Paid or Free car parks, onclik event it takes the user to the appropriate EJS template and represents the corresponding type of car parks - UC3 -->
            <button onclick = "location.href = 'paid.html';" class="w3-btn w3-blue w3-border w3-border-white w3-bar-item">Paid</button>
            <button id="free" onclick = "location.href = 'free.html';" class = "w3-btn w3-blue w3-border w3-border-white w3-bar-item">Free</button>
          </div>

            <table class="w3-table w3-striped w3-border"><body> 
              <tr> <class="w3-green"><th>Name</th> <th>Car Park Type</th> <th>Area name<th></th></tr>
                 <% for (var i=0; i<rows.length; i++) { %>
                  <tr>
                    <td><%=rows[i]["Car park name"]%></td>
                     <td><%=rows[i]["Type of car park"]%></td>
                     <td><%=rows[i]["Area name"]%></td>
                  </tr>
           <% } %>
      </div>
    </div>
  </body>
</html>