
<!DOCTYPE html>
<html lang="en">
<html>
  <%- include("templates/head.ejs"); %>
  <%- include("templates/header.ejs"); %>
  <body>
    <div class="grid-container">
      <%- include("templates/nav.ejs"); %>
      <main>

    <form class="w3-container w3-border-white" action="table.html">
      <select id= "dropdown-menu" class="w3-select w3-border" name="option" onchange="this.form.submit()">
          <option value="" disabled selected>Select your Area</option>
          <option value="Avonmouth">Avonmouth</option>
          <option value="Bedminster">Bedminster</option>
          <option value="Brislington">Brislington</option>
          <option value="Broadmead">Broadmead</option>
          <option value="Central Area">Central Area</option>
          <option value="District Car Parks">District Car Parks</option>
          <option value="Docks Estate Area">Docks Estate Area</option>
          <option value="Long Ashton">Long Ashton</option>
          <option value="Westend">Westend</option>
      </select>
  </form>
  <button id="All-car-parks" onclick="location.href='showall.html';" class="w3-btn w3-green w3-block w3-border w3-border-white" style="height:50px; width:200px" >All Car Parks in Bristol</button>
</main>
      </div>

  </body>

