<nav>
    <button onclick="location.href = 'map.html?type=Bristol%20Car%20Park%20Map';"
        class="w3-btn w3-blue w3-block w3-border w3-border-white">Bristol Cap Park Map</button>
    <button onclick="location.href = 'type.html?type=Find%20type'"
        class="w3-btn w3-blue w3-block w3-border w3-border-white">Find type</button>
    <button onclick="location.href = 'location.html?type=Find%20by%20location'"
        class="w3-btn w3-blue w3-block w3-border w3-border-white">Find by location</button>

</nav>