/*Style for GroupProject*/
.grid-container {
    display: grid;
    grid-template-areas:
      'ph ph ph ph ph'
      'ln cn cn cn cn'
      'pf pf pf pf pf';
  }
  
  #page-header {
    grid-area: ph;
    padding:30px 10px;
    text-align:Center;
    background-image: url('https://www.technobezz.com/files/uploads/2020/04/parking-lot-scaled.jpg');
    background-position: center;
    background-size: cover;
    font-weight: 900;
    color: aliceblue;
  }
  
  #local-navigation {
    grid-area: ln;
    background-color:rgba(109,139,166,0.5);
  }
  
  #contextual-navigation {
    grid-area: cn;
  }
  
  /* Container holding the image and the text */
  .container {
    position: relative;
    text-align: center;
    color: white;
    
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-family: "Times New Roman", Times, serif;
    color: rgb(12, 11, 11);
  }
  
  .blurimage {
    /* Add the blur effect */
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }

  .map {width:1000px}
  
  
  .heading { font-family:sans-serif; font-size:30px; }  

  #mapid { height: 750px; width:1000px }